<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Talabia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
				<key>dateExpires</key>
				<string>31/03/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Actions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AwaitToast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CardScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LanguageManager_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Resolver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ValidationTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1BBB1AF52FBCF309FD49E921E3BE62FE6C4254B2</string>
						<key>dateExpires</key>
						<string>31/03/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>XCoordinator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98VZ6LKU7M</string>
						<key>name</key>
						<string>Wasim Abdallah</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>98VZ6LKU7M.com.dominate.Talabia</string>
				<key>com.apple.developer.team-identifier</key>
				<string>98VZ6LKU7M</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>98VZ6LKU7M.com.dominate.Talabia</string>
				</array>
			</dict>
			<key>name</key>
			<string>Talabia.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>135a4c63-28c3-45b2-9399-bc60f63f17e6</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>98VZ6LKU7M</string>
				<key>name</key>
				<string>Wasim Abdallah</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
